/* Reset some default browser styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

/* Header styles */
header {
  background-color: #24292e;
  color: white;
  padding: 1rem;
  text-align: center;
}

/* Container styles */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-top: 1rem;
}

/* Navigation styles */
.nav-link {
  color: #0366d6;
  text-decoration: none;
  /* margin-right: 1rem; */
}

/* Listing styles */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0.5rem 0;
}

/* Details styles */
.details-container {
  padding: 1rem;
}

/* Links styles */
a {
  color: #FBFBFB;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
